parameters:
    ignoreErrors:
        -
            path: FooTest.php
            message: '~^Method App\\FooTest::testRootPackageConfigInstall\(\) should return string but returns int\.$~'
            count: 1
